# Build artifacts
*.o
*.obj
*.exe
*.out
*.app
build/

# Libraries
*.lib
*.a
*.dll
*.so
*.dylib

# IDE and editors
.vscode/
.idea/
*.sublime-*
*~
*.swp

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Logs and temp files
*.log
*.debug
*.tmp
*.temp

# OS specific
.DS_Store
Thumbs.db

# Project specific
*.bin
*.ch8
raygui.h
*.txt